
body, h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
     font-family: 'Roboto', sans-serif;
    /* font-family: 'Lato', sans-serif;*/
}

@media (max-width: 600px) {

    .container-fluid {
        margin-left: auto;
        margin-right: auto;
        padding-left: 0px;
        padding-right: 0px;
    }

    .col-md-8 {
        padding-left:5px;
        padding-right:5px;
    }

    .table {
        font-size: 11px;
        line-height: 1;
    }
}

body {
    padding-top: 60px;
    padding-bottom: 60px;
}

div.mce-fullscreen {
    padding-top: 60px;
    /*z-index: @zindex-modal;*/
}

/*
.navbar-brand {
    padding-top: 8px;
}
*/
/*.panel-body {
    border-radius: 10px;
}
*/

.panel {
    border-radius: 0px;
}

.panel-heading {
    border-radius: 0px;
}

.panel-group .panel {
    border-radius: 0px;
}

.form-control {
    border-radius: 0px;
}

.input-group-addon {
    border-radius: 0px;
}

.alert {
    border-radius: 0px;
}

.alert-danger {
    background-color: #c9302c;
    border-color: #c9302c;
    color : white;

}

.panel-link-default .panel-body {
  background-color: #dae0e6;
  text-decoration: none;
}

.panel-link-default > a {
    background-color: transparent;
    color: #7b7e7c;
    text-decoration: none;
}

.close {
    opacity: 0.9;
}
.panel-link-azul .panel-body {
    background-color: #337ab7;
    text-decoration: none;
    border-radius: 20px;
}

.panel-link-azul > a {
    background-color: transparent;
    color: white;
    text-decoration: none;
}

.panel-link-azul .panel-body:hover {
    background-color: #67b4f7;
    text-decoration: none;
}

.panel-link-azul > a:hover {
    text-decoration: none;
}

.panel-link-azul .panel-body:active {
    background-color: #0f2f4c;
    text-decoration: none;
}

.panel-link-azul > a:active {
    background-color: #0f2f4c;
    text-decoration: none;
}

.panel-link-vermelho .panel-body {
    background-color: #c9302c;
    border-color: #c9302c;
    /*color: #337ab7;*/
    text-decoration: none;
}

.panel-link-vermelho > a {
    background-color: transparent;
    color: white;
    text-decoration: none;
}

/* deixa o painel-danger com o vermelho dos botões */
.panel-danger {
   border-color: #d43f32;
}

.panel-danger > .panel-heading {
   color             : #fff;
   background-color  : #d9534f;
   border-color      : #d43f32;
}

.cd-top {
  display: inline-block;
  height: 40px;
  width: 40px;
  position: fixed;
  bottom: 10px;
  right: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  /* image replacement properties */
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  background: rgba(232, 98, 86, 0.8) url(../img/cd-top-arrow.svg) no-repeat center 50%;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity .3s 0s, visibility 0s .3s;
  -moz-transition: opacity .3s 0s, visibility 0s .3s;
  transition: opacity .3s 0s, visibility 0s .3s;
}
.cd-top.cd-is-visible, .cd-top.cd-fade-out, .no-touch .cd-top:hover {
  -webkit-transition: opacity .3s 0s, visibility 0s 0s;
  -moz-transition: opacity .3s 0s, visibility 0s 0s;
  transition: opacity .3s 0s, visibility 0s 0s;
}
.cd-top.cd-is-visible {
  /* the button becomes visible */
  visibility: visible;
  opacity: .4;
}
.cd-top.cd-fade-out {
  /* if the user keeps scrolling down, the button is out of focus and becomes less visible */
  opacity: .4;
}
.no-touch .cd-top:hover {
  background-color: #e86256;
  opacity: 1;
}
@media only screen and (min-width: 768px) {
  .cd-top {
    right: 10px;
    bottom: 10px;
  }
}
@media only screen and (min-width: 1024px) {
  .cd-top {
    height: 60px;
    width: 60px;
    right: 20px;
    bottom: 20px;
  }
}

.panel > .panel-heading > .panel-title > a {
  text-decoration: none;
}
.arrow-panel-toggle {
  float: right;
  cursor: pointer;
}

.panel-title-button {
  float: right;
  cursor: pointer;
  padding-top: 0px;
  padding-bottom: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.vertical-text-center {
    vertical-align: middle !important;
    float: none;
}
