.panel-title-button {
    float: right;
    cursor: pointer;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
}
div.mce-fullscreen {
    padding-top: 50px;
    z-index: @zindex-modal;
}
